[user]
	name = Renato Cordeiro Ferreira
	email = renato.cferreira@hotmail.com
[credential]
	helper = cache
[core]
	excludesfile = ~/.gitignore_global
[diff]
    tool = vimdiff
[difftool]
	prompt = false
[merge]
	stat = true
	tool = vimdiff
[mergetool]
	prompt = false
[branch "master"]
    remote = origin
    merge = refs/heads/master

; Default colors. Bold is used to be easier 
; to see in black terminals
[color]
	ui = auto
[color "diff"]
    plain = normal
    meta = bold
    frag = cyan bold
    old = red bold
    new = green bold
    commit = yellow bold
    whitespace = normal red
[color "branch"]
    current = green
    local = normal
    remote = red
    plain = normal
[color "status"]
    header = normal
    added = red bold
    updated = green bold
    changed = red bold
    untracked = red bold
    nobranch = red bold
[color "grep"]
    match = normal
[color "interactive"]
    prompt = normal
    header = normal
    help = normal
    error = normal
