[user]
  name = Renato Cordeiro Ferreira
  email = renato.cferreira@hotmail.com
  signinkey = "286F5EC46A617451"
[credential]
  helper = cache
[core]
  excludesfile = ~/.gitignore_global
  # pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  stat = true
  tool = vimdiff
[mergetool]
  prompt = false
[branch "master"]
  remote = origin
  merge = refs/heads/master
[commit]
  gpgsign = true

; Some nice alias
[alias]
  st = status
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  history = log --pretty=format:'%C(bold)[%h]%Creset %an, %ar:%n %C(yellow bold) %s %Creset' --stat

; Default colors. Bold is used to be easier
; to see in black terminals
[color]
  ui = auto
[color "diff"]
  plain = normal
  meta = bold
  frag = cyan bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = normal red
[color "branch"]
  current = green bold
  local = normal
  remote = red bold
  plain = normal
[color "status"]
  header = normal
  added = red bold
  updated = green bold
  changed = red bold
  untracked = red bold
  nobranch = red bold
[color "grep"]
  match = normal
[color "interactive"]
  prompt = normal
  header = normal
  help = normal
  error = red
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

; Diffs
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  navigate = true
[interactive]
  diffFilter = delta --color-only

; Notebooks
[diff "jupyternotebook"]
  command = git-nbdiffdriver diff
[merge "jupyternotebook"]
  driver = git-nbmergedriver merge %O %A %B %L %P
  name = jupyter notebook merge driver
[difftool "nbdime"]
  cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
  cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[init]
	defaultBranch = main
