[user]
  name = Renato Cordeiro Ferreira
  email = renato.cferreira@hotmail.com
[credential]
  helper = cache
[core]
  excludesfile = ~/.gitignore_global
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  stat = true
  tool = vimdiff
[mergetool]
  prompt = false
[branch "master"]
  remote = origin
  merge = refs/heads/master

; Some nice alias
[alias] 
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
  history = log --pretty=format:'%C(bold)[%h]%Creset %an, %ar:%n %C(yellow bold) %s %Creset' --stat
  undo = reset --soft HEAD~1
  unstage = reset HEAD

; Default colors. Bold is used to be easier 
; to see in black terminals
[color]
  ui = auto
[color "diff"]
  plain = normal
  meta = bold
  frag = cyan bold
  old = red bold
  new = green bold
  commit = yellow bold
  whitespace = normal red
[color "branch"]
  current = green bold
  local = normal
  remote = red bold
  plain = normal
[color "status"]
  header = normal
  added = red bold
  updated = green bold
  changed = red bold
  untracked = red bold
  nobranch = red bold
[color "grep"]
  match = normal
[color "interactive"]
  prompt = normal
  header = normal
  help = normal
  error = red
