[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = ssh://git@github.com:22/tpope/vim-pathogen.git
[submodule ".vim/bundle/a"]
	path = .vim/bundle/a
	url = ssh://git@github.com:22/vim-scripts/a.vim.git
[submodule ".vim/bundle/bio-vim"]
	path = .vim/bundle/bio-vim
	url = ssh://git@github.com:22/viklund/bio-vim.git
[submodule ".vim/bundle/fugitive"]
    path = .vim/bundle/fugitive
    url = ssh://git@github.com:22/tpope/vim-fugitive.git
[submodule ".vim/bundle/gtk-vim-syntax"]
	path = .vim/bundle/gtk-vim-syntax
	url = ssh://git@github.com:22/vim-scripts/gtk-vim-syntax.git
[submodule ".vim/bundle/html5"]
	path = .vim/bundle/html5
	url = ssh://git@github.com:22/othree/html5.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = ssh://git@github.com:22/scrooloose/nerdtree.git
[submodule ".vim/bundle/OmniCppComplete"]
	path = .vim/bundle/OmniCppComplete
	url = ssh://git@github.com:22/vim-scripts/OmniCppComplete.git
[submodule ".vim/bundle/taglist"]
    path = .vim/bundle/taglist
    url = ssh://git@github.com:22/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/tComment"]
    path = .vim/bundle/tComment
    url = ssh://git@github.com:22/vim-scripts/tComment.git
[submodule ".vim/bundle/SingleCompile"]
	path = .vim/bundle/SingleCompile
	url = ssh://git@github.com:22/xuhdev/SingleCompile.git
[submodule ".vim/bundle/STL-improved"]
    path = .vim/bundle/STL-improved
    url = ssh://git@github.com:22/vim-scripts/STL-improved.git
[submodule ".vim/bundle/SuperTab"]
	path = .vim/bundle/SuperTab
	url = ssh://git@github.com:22/ervandew/supertab.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = ssh://git@github.com:22/tpope/vim-surround.git
[submodule ".vim/bundle/Syntastic"]
    path = .vim/bundle/Syntastic
    url = ssh://git@github.com:22/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = http://git.code.sf.net/p/vim-latex/vim-latex
[submodule ".vim/bundle/vim-gas"]
	path = .vim/bundle/vim-gas
	url = ssh://git@github.com:22/Shirk/vim-gas.git
[submodule ".vim/bundle/vim-DoxyGen-Syntax"]
	path = .vim/bundle/vim-DoxyGen-Syntax
	url = ssh://git@github.com:22/vim-scripts/DoxyGen-Syntax.git
[submodule ".vim/bundle/vim-glsl"]
	path = .vim/bundle/vim-glsl
	url = ssh://git@github.com:22/tikhomirov/vim-glsl.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = ssh://git@github.com:22/tpope/vim-rails.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = ssh://git@github.com:22/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-rake"]
	path = .vim/bundle/vim-rake
	url = ssh://git@github.com:22/tpope/vim-rake.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = ssh://git@github.com:22/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-conque"]
	path = .vim/bundle/vim-conque
	url = ssh://git@github.com:22/basepi/vim-conque.git
