" Vim syntax file example
" Language:     C gtk
" Maintainer:   krisna
" Last change:  2003-02-19

if version < 600
  so <sfile>:p:h/xlib.vim
  so <sfile>:p:h/glib.vim
  so <sfile>:p:h/pango.vim
  so <sfile>:p:h/gdk.vim
else
  runtime! syntax/xlib.vim
  runtime! syntax/glib.vim
  runtime! syntax/pango.vim
  runtime! syntax/gdk.vim
  runtime! syntax/gtk.vim
endif
